/*------------------------ home page css------------------------------------ */

@media only screen and (max-width: 1200px) {
  .contact-map img {
    width: 700px !important;
    height: 200px;
  }
}

@media only screen and (max-width: 650px) {
  #lang,
  #search {
    visibility: hidden;
  }

  .hamburger-menu {
    display: block !important;
  }

  .main-list {
    display: none;
  }

  .black-menu.active {
    display: block !important;
  }
  .contact-map img {
    display: none;
  }

  .day-open {
    display: flex;
    flex-direction: row;
  }

  .arrow-down-icon {
    right: 42%;
    display: flex;
    bottom: 20px;
    position: absolute;
  }

  .arrow-up-icon {
    margin-left: 0px;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
  }

  .contact-hr {
    display: block;
  }

  .social-accounts {
    display: flex;
    flex-direction: row;
  }

  .contact-column-second {
    margin-left: 0px;
  }

  .branches {
    display: none;
  }
  .call {
    display: flex;
  }
  .second-line-menu {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .order-bar {
    display: none;
  }

  .cards {
    width: 470px;
    display: flex;
    flex-direction: row-reverse;
    /* border-radius: 5px; */
    /* margin-top: 30px; */
    border: 1px solid #c4c4c4b2;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .cards img {
    width: 170px;
    height: 130px;
    margin-top: 0px;
  }

  .card-middle {
    margin-left: 0px;
    margin-right: 0px;
  }
  .card-content h4,
  p {
    margin-left: 5px;
  }

  .price {
    position: static;
    margin-left: 5px;
  }

  .contact {
    flex-direction: column;
  }

  .contact-content {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .card-mobile {
    box-shadow: 0px 2px 4px rgba(187, 187, 187, 0.25);
    width: 370px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 90px;
    display: block;
  }

  .card-content-mobile {
    position: relative;
  }

  .card-content-mobile h4,
  p {
    margin-left: 10px;
  }

  .mobile-prize {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .card-mobile img {
    width: 310px;
    height: 220px;
  }
}
