/*------------------------ home page css------------------------------------ */

@media only screen and (max-width: 1250px) {
  .branches.nav-version {
    display: none;
  }
  .signup-box {
    margin-left: 250px;
  }
}

@media only screen and (max-width: 1200px) {
  .contact-map img {
    width: 700px !important;
    height: 200px;
  }
}

@media only screen and (max-width: 1100px) {
  .signup-box {
    margin-left: 180px;
  }
}

@media only screen and (max-width: 950px) {
  .signup-box {
    margin-left: 150px;
    width: 500px;
  }

  .input-box {
    margin-left: 40px;
  }

  .input-box input {
    width: 270px;
  }

  .continue-version {
    margin-left: 150px;
  }

  .profile {
    margin: 30px auto;
  }
  .profile-card {
    margin: 30px auto;
  }
}

@media only screen and (max-width: 870px) {
  .container-row {
    flex-direction: column;
  }
  .container-responsive {
    margin: 0 auto;
  }
  /* .container-order-responsive {
    margin: 0 0px;
  } */
  .order-box {
    margin: 0 auto;
  }
  .add-item,
  #add-comment,
  .recommendation-heading {
    margin: 30px 180px;
  }

  .order-total-column {
    margin-left: 130px;
  }
}

@media only screen and (max-width: 800px) {
  .signup-box {
    margin: 0 auto;
    /* width: 400px !important; */
    margin-bottom: 50px;
  }

  .input-box input {
    width: 270px;
  }

  .continue-version {
    margin: 30px auto;
  }
}

@media only screen and (max-width: 550px) {
  .signup-box {
    width: 400px;
  }

  .label-box label {
    font-size: 15px;
  }

  .input-box {
    margin-left: 20px;
  }
  .input-box input {
    width: 220px;
  }
  .login-done {
    width: 430px;
  }
  .continue-version {
    margin-left: 0px;
    font-size: 14px;
  }
  .continue-version li {
    margin-right: 30px;
    margin-left: 0px;
  }

  .crumb-back {
    margin-left: 50px;
  }

  .go-to-back {
    margin-top: 20px;
    /* margin-bottom: 50px; */
  }
  .profile-card {
    width: 300px;
  }

  .edit {
    right: 0px;
  }
}

@media only screen and (max-width: 470px) {
  .signup-box {
    width: 300px;
  }
  .label-box label {
    font-size: 12px;
  }

  .label-box {
    font-size: 12px;
  }
  .input-box {
    margin-left: 20px;
  }
  .input-box input {
    width: 150px;
  }
  .login-done {
    width: 430px;
  }
  .continue-version {
    margin-left: 0px;
    font-size: 12px;
  }
  .continue-version li {
    margin-right: 10px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .signup-box {
    width: 270px;
  }
  .label-box label {
    font-size: 10px;
  }

  .label-box {
    margin-left: -15px;
    font-size: 10px;
  }
  .input-box {
    margin-left: 20px;
  }
  .input-box input {
    width: 150px;
  }
  .login-done {
    width: 430px;
  }
  .continue-version {
    margin-left: 0px;
    font-size: 14px;
  }
  .continue-version li {
    margin-right: 3px;
    margin-left: 0px;
    font-size: 8px;
  }
  .login-done {
    width: 220px;
  }
}

@media only screen and (max-width: 350px) {
  .signup-box {
    width: 250px;
    /* margin-left: 0px; */
    margin: 0 auto;
  }
  .input-box input {
    width: 100px;
  }
  .profile-card {
    width: 250px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 300px) {
  .signup-box {
    width: 220px;
  }
}

@media only screen and (max-width: 650px) {
  #lang,
  #search {
    visibility: hidden;
  }

  .hamburger-menu {
    display: block !important;
  }

  .main-list {
    display: none;
  }

  .black-menu.active {
    display: block !important;
  }
  .contact-map img {
    display: none;
  }

  .day-open {
    display: flex;
    flex-direction: row;
  }

  .arrow-down-icon {
    right: 42%;
    display: flex;
    bottom: 20px;
    position: absolute;
  }

  .arrow-up-icon {
    margin-left: 0px;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
  }

  .contact-hr {
    display: block;
  }

  .social-accounts {
    display: flex;
    flex-direction: row;
  }

  .contact-column-second {
    margin-left: 0px;
  }

  .branches {
    display: none;
  }
  .call {
    display: flex;
  }
  .second-line-menu {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }
  .card-menu {
    margin-left: 0px;
  }
  .menu-cards {
    margin-left: 0px;
  }
  .menu-content {
    overflow-x: scroll;
  }

  .menu-content ul {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    width: 130%;
    /* background-color: red; */
    align-items: center;
  }

  .menu-content ul li a {
    display: inline-block;
    word-break: keep-all;

    text-align: center;
  }

  .menu-content ul li {
    /* margin-right: 10px; */
    line-height: 20px;
    flex-shrink: 1;
  }
  .menu-content ul {
    margin-left: 0;
    margin-bottom: 40px;
    padding-left: 0;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .menu-content {
    margin-left: 0;
  }
  .breadcrumb {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .order-bar {
    display: none;
  }

  .cards {
    width: 470px;
    display: flex;
    flex-direction: row-reverse;
    /* border-radius: 5px; */
    /* margin-top: 30px; */
    border: 1px solid #c4c4c4b2;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .cards img {
    width: 170px;
    height: 130px;
    margin-top: 0px;
  }

  .card-middle {
    margin-left: 0px;
    margin-right: 0px;
  }
  .card-content h4,
  p {
    margin-left: 5px;
  }

  .price {
    position: static;
    margin-left: 5px;
  }

  .contact {
    flex-direction: column;
  }

  .contact-content {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .card-mobile {
    box-shadow: 0px 2px 4px rgba(187, 187, 187, 0.25);
    width: 370px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 90px;
    display: block;
  }

  .card-content-mobile {
    position: relative;
  }

  .card-content-mobile h4,
  p {
    margin-left: 10px;
  }

  .mobile-prize {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .card-mobile img {
    width: 310px;
    height: 220px;
  }

  .second-footer {
    display: flex;
    justify-content: center;
  }

  .second-footer p {
    display: none;
  }
  .tag {
    width: 100vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--context-red);
  }
  .tag-order h4 {
    padding-left: 0;
  }
  .add-item {
    display: none;
  }
}
