:root {
  --context-red: #d24a43;
  --faded-red: #f47f72;
  --text-white: #ffffff;
  --fade-button: #f1e9d9;
  --stroke-gray: #d6d6d6;
  --light-grey: #838383;
  --dark-grey: #4c4c4c;
  --black-background: #000000;
}

@font-face {
  font-family: "Helvetica";
  src: url(../assets/fonts/helveticaa/HelveticaNeueMed.ttf);
}
@import url(../assets/fonts/Helvetica/Helvetica.ttf);

/* @import url(../assets/fonts/helveticaa/HelveticaNeue-BlackCond.ttf); */

/* * {
  font-family: "Helvetica";
} */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.arrow-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--black-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-down-icon {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: none;
}

.arrow-up-icon {
  margin-left: 800px;
}

.up {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
  margin-right: 50px;
}

.arrow-down-icon.active {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 44px;
  right: 20px;
  z-index: 99;
}

.line {
  width: 50px;
  height: 4px;
  background-color: var(--text-white);
  border-radius: 2px;
}

.middle-line {
  margin-bottom: 10px;
  margin-top: 10px;
}

.first-header {
  width: 100%;

  height: 100vh;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/home-background.jpg");
}
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.nav-header .logo {
  margin-left: 6rem;
}

#bag {
  text-decoration: none;
  color: var(--text-white);
  transition: all 400ms ease;
}

#bag:hover {
  color: var(--context-red);
}

.search-bar {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease;
}
.search-bar.active {
  visibility: visible;
  opacity: 1;
}
.search-bar span.search {
  position: absolute;
  top: -20px;
  left: 1.2rem;
  font-size: 15px;
  /* font: weight 1px; */
}
.search-bar .search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 43px;
  border: 3px solid var(--context-red);
  background-color: var(--text-white);
  border-radius: 150px;
}
.search-input input {
  flex: 1;
}

.search-input input,
button {
  border: 0;
  outline: none;
  background: none;
  padding: 0 1.7rem;
}
.logo img {
  margin-left: 10%;
  margin-top: 20px;
}

#arrow-lang:hover {
  stroke: var(--context-red);
}

.black-menu {
  position: absolute;
  top: 200px;
  right: 30px;
  display: none;
}

.black-menu ul li {
  list-style-type: none;
  text-align: end;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
}

.black-menu ul li a {
  display: inline-block;
  transition: margin-bottom 400ms ease;
  color: var(--text-white);
  text-decoration: none;
  font-size: 24px;
}

.first-line-menu {
  width: 100%;
  color: var(--text-white);
}
.first-line-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.first-line-menu ul li {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 400ms ease;
}

.language {
  cursor: pointer;
  color: var(--light-grey);
}

.language.active {
  color: var(--context-red);
}
.language-section {
  background-color: var(--black-background);
  position: absolute;
  top: 33px;
  right: 130px;
  width: 100px;
  text-align: center;
  visibility: hidden;
}

.language-section.active {
  visibility: visible;
}

.language-section ul {
  display: flex;
  flex-direction: column;
}

li#search.deactive {
  visibility: hidden;
  opacity: 0;
}

.first-line-menu ul li:hover {
  color: var(--context-red);
}

.first-line-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#lang {
  margin-right: 130px;
  position: relative;
  width: 90px;
  padding-left: 10px;
}

#lang.active {
  background-color: var(--black-background);
}

.svg-class.active {
  transform: rotate(180deg);
}

#lang svg path {
  transition: all 400ms ease;
}

#lang:hover svg path {
  stroke: #d24a43;

  /* transform: rotate(180deg); */
}

.main-list {
  /* position: relative; */
  /* position: absolute; */
  /* right: 0;
  bottom: 43%;
  right: 8%; */
  /* z-index: 99; */
  color: white;
  margin-top: 223px;
  margin-right: 150px;
}

.main-list ul li {
  list-style-type: none;
  text-align: end;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  /* height: 28px; */
}

.main-list ul a {
  display: inline-block;
  transition: margin-bottom 400ms ease;
  color: var(--text-white);
  text-decoration: none;
}

.main-list ul li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--context-red);
  /* height: 40px; */
  margin-bottom: 10px;
}

.second-line-menu {
  background-color: var(--black-background);
  color: var(--text-white);
  display: block;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;

  /* overflow: auto; */
}

.second-line-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.second-line-menu ul li {
  list-style-type: none;
  font-size: 24px;
  /* margin: 0 50px; */
  font-family: "Helvetica", "Arial", sans-serif;
}

.second-line-menu ul li:hover {
  color: var(--context-red);
  cursor: pointer;
}
/* --------------------------------------------------------------------------------------------- */

/* --------------------------------Section new starts-------------------------------------------------- */

#new {
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 100vh;
}
.tag {
  /* padding-right: 30px; */
  width: 225px;
  height: 40px;
  background-color: var(--black-background);
  color: var(--text-white);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.tag h4 {
  font-size: 24px;
  font-family: "Helvetica", "Arial", sans-serif;
  /* margin-left: 100px; */
}

.list-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.cards {
  box-shadow: 0px 2px 4px rgba(187, 187, 187, 0.25);
  width: 370px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-bottom: 90px;
}

.card-middle {
  margin-right: 30px;
  margin-left: 30px;
}

.card-content {
  position: relative;
}

.card-content h4,
p {
  margin-left: 10px;
}
.price {
  position: absolute;
  top: 0;
  right: 10px;
}

.minus,
.plus,
.count-num {
  cursor: pointer;
}
.minus,
.plus {
  background-color: var(--fade-button);
  /* padding: 0.6rem 2.7rem; */
}
/* .count-num {
  padding: 0.6rem 3.9rem;
} */
.minus.active,
.plus.active,
.count-num.active {
  /* background-color: red; */
  padding: 0 !important;
}

.count-regulator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 115px;
  height: 40px;
  /* gap: 0 25px; */
  background-color: var(--fade-button);
  border-radius: 5px;
  /* margin-left: 15px; */
}
.count-regulator.active {
  background-color: var(--fade-button);
  gap: 0 20px;
  margin-right: 10px;
}

.add-order {
  background-color: var(--faded-red);
  color: var(--text-white);
  width: 0px;
  visibility: hidden;
  opacity: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  /* margin-right: 15px; */
  cursor: pointer;
}
.add-order.active {
  width: 200px;
  opacity: 1;
  visibility: visible;
  margin-left: 1rem;
  transition: all 400ms ease;
}

.order-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 0 10px; */
}

.tag-recommended {
  width: 330px;
  background-color: var(--context-red);
  margin-right: 20px;
}
.tag-recommended h4,
.tag-new h4 {
  margin-left: 100px;
}

/*------------------------------Contact (Get in touch section starts)---------------------------- */

.call {
  background-color: var(--context-red);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: none;
}

#contact {
  padding-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-map img {
  width: 910px;
  height: 350px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-column-second {
  margin-left: 62px;
}

.contact-content p {
  color: var(--dark-grey);
}

.contact-content p a {
  text-decoration: none;
  color: var(--dark-grey);
}

.social-accounts {
  display: flex;
  flex-direction: row;
}

/*--------------------------------------footer---------------------------------*/

.second-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
}

.second-footer p {
  margin-top: 50px;
  color: var(--light-grey);
}

footer {
  /* height: 200px; */
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: var(--black-background);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .logo img {
  margin-left: 90px;
}

.branches {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  color: var(--text-white);
}

.branch {
  border-right: 3px solid var(--context-red);
  line-height: 5px;
  margin-right: 90px;
  margin-left: 40px;
}
.branch-adjami {
  margin-right: 200px;
}

.branches h4 {
  padding-right: 10px;
}

/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------Menu page css------------------------------------*/

.second-header {
  width: 100%;
  padding-top: 3px;
  padding: 1rem 0rem;
  background-color: var(--black-background);
}

.second-version {
  width: 100%;
  height: 50px;
  color: var(--text-white);
}

.nav-version {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-menu {
  width: 100%;

  color: var(--text-white);
}

.line-menu ul li {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.first-line-menu ul li:hover {
  color: var(--context-red);
}

.line-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: -40px;
  padding-bottom: 40px;
}

.breadcrumb {
  padding-top: 20px;
  padding-bottom: 20px;
}

.go-to-back {
  margin-top: 50px;
}

.crumb {
  text-decoration: none;
  color: var(--dark-grey);
}

.crumb-back {
  margin-left: 120px;
}

.home-crumb {
  color: var(--context-red);
  margin-left: 10%;
}

.continue-version {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 250px;
  margin-top: 40px;
}

.continue-version a {
  text-decoration: none;
  border-right: 2px solid var(--light-grey);
  padding-right: 10px;
  color: var(--light-grey);
}

.continue-version li {
  margin-left: 30px;
  color: var(--light-grey);
}

.active-continue {
  color: var(--faded-red) !important;
}

.contact-hr {
  display: none;
}
